.box{
    height: 600px;
    width: 700px;
    background: coral;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}
.a{
    height: 33%;
    width:97%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.b{
    height:63%;
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.c{
    height:63%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.color{
    background: darkseagreen;

}
@media screen and  (max-width:576px ) {
    .box {
        display: flex;
        flex-direction: column;

    }
    .a{
        height: 180px;
        width: 97%;
        margin: 8px auto;
    }
    .b{
        height: 180px;
        width: 97%;
        margin-left: 8px;
    }
    .c{
        height: 180px;
        width: 97%;
        margin-left: 8px;
        margin-top: 8px;
    }
    .color{
        border: 3px solid darkseagreen;
        border-radius: 5px;
    }

}





