.h{
    height: 100px;
}
.h4{
    height: 400px;
}
.h3{
    height: 300px;
}
.w{
    width: 500px;
}
.w2{
    width: 200px;
}
.w3{
    width: 300px;
}
.bg2{
    background: cornflowerblue;
}
.bg1{
    background: darksalmon;
}
.bg3{
    background: hotpink;
}
.bg4{
    background: khaki;
}
.post{
    row-gap: 20px;

}
.menu{
    display: flex;
}