.h{
    height: 50px;
}
.h4{
    height: 305px;
}
.h3{
    height: 140px;
}
.w{
    width: 500px;
}
.w2{
    width: 200px;
}
.w28{
    width: 280px;
}
.bg2{
    background: cornflowerblue;
}
.bg1{
    background: darksalmon;
}
.bg3{
    background: hotpink;
}
.bg4{
    background: khaki;
}
.mn1{
    margin: 10px;
}
.menu{
    display: flex;
}
.br{
    border: 2px solid black
}
.post{
    display: flex;
    flex-direction: column;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}