.box{
    height: 600px;
    width: 600px;
    background: coral;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
}
.a{
    height: 33%;
    width:97%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.b{
    height:63%;
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.c{
    height:63%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.color{
    background: darkseagreen;
}
