body{
    box-sizing:border-box;
margin:20px
}
.one{
    height: 300px;
    width:400px;
    background: #818181;
    box-shadow: #dec7aa -10px -10px 10px 20px
}
.two{
    padding: 10px;
    border-left:5px solid red
}